@model ProductAndCategoriesViewModel;
<div class="container">
    <a class="float-right" href="/products">Home</a>
    <h1 style="margin-bottom: 40px;" class="display-2 text-center">@Model.TheProduct.Name</h1>
    <div class="row">
        <div class="col">
            <h3>Categories:</h3>
            <ul>
                @foreach(Association association in Model.TheProduct.Categories)
                {
                    <li>@association.Category.Name</li>
                }
            </ul>
        </div>
        <div class="col">
            <h4>Add Category:</h4>
            <form class="form-group" asp-action="AddCategory" asp-controller="Home" method="POST">
                <input class="form-control" asp-for="NewAssociation.ProductId" type="hidden" value="@Model.TheProduct.ProductId">
                <select class="form-control" asp-for="NewAssociation.CategoryId">
                    @foreach (Category category in Model.NonAssociatedCategories)
                    {
                        <option value="@category.CategoryId">@category.Name</option>
                    }
                </select>
                <button style="margin-top: 20px;" class="btn btn-primary" type="submit">Add</button>
            </form>
        </div>
    </div>
</div>